#orgpage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.column-1, .column-2 {
    display: flex;
    flex-direction: column;
    padding-top: 4em;
}

.column-1 {
    width: 55%;
}

.column-2 {
    width: 30%;
    text-align: start;
}

.profile-info {
    display: flex;
    align-items: center;
}

.org-photo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.org-photo img {
    width: 100%;
    height: auto;
}

.org-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 1em 1em;
}

.org-info h1 {
    font-size: 30px;
}

.org-info p {
    padding-bottom: 10px;
}

.code-button {
    background-color: #f15a24;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.code-button:hover {
    background-color: #e0501f;
    transform: scale(1.05);
}

.org-proyects {
    padding-top: 1em;
}

.org-proyects h2 {
    text-align: start;
    margin-bottom: 10px;
}

.proy-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 1em;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.proy-info{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.proyect-name{
    font-weight: 600;
}

.proy-item:hover {
    background-color: #e8e8e8;
}

.members-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30em;
    width: 100%;
    min-height: 535px;
    max-height: 590px;
    margin-top: 1em;
    padding: 5px 4px 0;
    background-color: #f4f5f7;
    border: 1px solid #e0dede;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow-y: auto;
}

.view-p-button{
    background-color: #f15a24;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.view-p-button:hover {
    background-color: #e0501f;
    transform: scale(1.05);
}

.no-proyects{
    margin-top: 2em;
    font-size: 18px;
}

.create-project-button{
    background-color: #f15a24;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.create-project-button:hover {
    background-color: #e0501f;
    transform: scale(1.05);
}